:root {
  --bg: #0f172a;
  --bg-soft: #111827;
  --card: #1e293b;
  --border: #334155;

  --text: #f8fafc;
  --text-muted: #94a3b8;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --success: #22c55e;
  --danger: #ef4444;

  --radius: 14px;
  --shadow: 0 10px 30px rgba(0,0,0,0.25);

  --transition: all 0.2s ease;
}